.footer {
  background-color: red; /* Color de fondo de tu footer */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    50% 100%,
    0 80%
  ); /* Define la forma ondulada */
  color: white; /* Color del texto en el footer, ajusta según sea necesario */
  padding: 20px; /* Añade relleno según tus necesidades */
}

.wave {
  background-image: url(./wave.png);
  background-size: 1000px 100px;
  @apply absolute bottom-0  left-0 w-full h-24;
  animation: waveEffect 10s linear infinite;
}

@keyframes waveEffect {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
